.container img {
  position: relative;
  display: inline-block;
}

.container ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: bold;
}

.slide_1, .slide_2, .slide_3, .slide_4, .slide_5, .slide_6, .slide_7, .slide_8, .slide_9 {
  position: relative;
}

.bottom {
  position: absolute;
  left: 35px;
  bottom: 75px;
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
}

.bottom p {
  background: none;
  color: white;
}

.button {
  position: absolute;
  bottom: 25px;
  left: 30px;
  border: none;
  background: none;

}

.button button {
  cursor: text;
  padding: 6px 12px;
  margin: 8px 3px;
  background: none;
  border: 0.2px solid rgba(255, 255, 255, 0.487);
  color: white;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  font-weight: bold;
}

.slider img {
  position: relative;
  display: inline-block;
}

.slider ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: bold;
  cursor: pointer;
}

.slider_1 .slider_2, .slider_3, .slider_4, .slider_5, .slider_6, .slider_7, .slider_8 {
  position: relative;
}

.bottomleft {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
}